<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProEasy</display-name>
  
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>test.HelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateSession</display-name>
  	<servlet-name>CreateSession</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.CreateSession</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddAppointmentServlet</display-name>
  	<servlet-name>AddAppointment</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.AddAppointment</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AssignAdmin</display-name>
  	<servlet-name>AssignAdmin</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.AssignAdmin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddAttendee</display-name>
  	<servlet-name>AddAttendee</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.AddAttendee</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddFacilitator</display-name>
  	<servlet-name>AddFacilitator</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.AddFacilitator</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddMessage</display-name>
  	<servlet-name>AddMessage</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.AddMessage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveAppointment</display-name>
  	<servlet-name>RemoveAppointment</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.RemoveAppointment</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DesignateUser</display-name>
  	<servlet-name>DesignateUser</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.DesignateUser</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveAttendee</display-name>
  	<servlet-name>RemoveAttendee</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.RemoveAttendee</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveFacilitator</display-name>
  	<servlet-name>RemoveFacilitator</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.RemoveFacilitator</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveResource</display-name>
  	<servlet-name>RemoveResource</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.RemoveResource</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetAllSessions</display-name>
  	<servlet-name>GetAllSessions</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.GetAllSessions</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetMessages</display-name>
  	<servlet-name>GetMessages</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.GetMessages</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetResources</display-name>
  	<servlet-name>GetResources</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.GetResources</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetSession</display-name>
  	<servlet-name>GetSession</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.GetSession</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetUser</display-name>
  	<servlet-name>GetUser</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.GetUser</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetUsers</display-name>
  	<servlet-name>GetUsers</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.GetUsers</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetMySessions</display-name>
  	<servlet-name>GetMySessions</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.GetMySessions</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetAllUsersLight</display-name>
  	<servlet-name>GetAllUsersLight</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.web.GetAllUsersLight</servlet-class>
  </servlet>
  

  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateSession</servlet-name>
  	<url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAppointment</servlet-name>
  	<url-pattern>/AddAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignAdmin</servlet-name>
  	<url-pattern>/AssignAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAttendee</servlet-name>
  	<url-pattern>/AddAttendee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFacilitator</servlet-name>
  	<url-pattern>/AddFacilitator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMessage</servlet-name>
  	<url-pattern>/AddMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveAppointment</servlet-name>
  	<url-pattern>/RemoveAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveAttendee</servlet-name>
  	<url-pattern>/RemoveAttendee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DesignateUser</servlet-name>
  	<url-pattern>/DesignateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveFacilitator</servlet-name>
  	<url-pattern>/RemoveFacilitator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveResource</servlet-name>
  	<url-pattern>/RemoveResource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAllSessions</servlet-name>
  	<url-pattern>/GetAllSessions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMessages</servlet-name>
  	<url-pattern>/GetMessages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetResources</servlet-name>
  	<url-pattern>/GetResources</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSession</servlet-name>
  	<url-pattern>/GetSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetUser</servlet-name>
  	<url-pattern>/GetUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetUsers</servlet-name>
  	<url-pattern>/GetUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMySessions</servlet-name>
  	<url-pattern>/GetMySessions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAllUsersLight</servlet-name>
  	<url-pattern>/GetAllUsersLight</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>