<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProEasy</display-name>
  
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>test.HelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateSessionServlet</display-name>
  	<servlet-name>CreateSessionServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.CreateSessionServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddAppointmentServlet</display-name>
  	<servlet-name>AddAppointmentServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.AddAppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddMessageServlet</display-name>
  	<servlet-name>AddMessageServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.AddMessageServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddResourceServlet</display-name>
  	<servlet-name>AddResourceServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.AddResourceServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AssignAdminServlet</display-name>
  	<servlet-name>AssignAdminServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.AssignAdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddAttendeeServlet</display-name>
  	<servlet-name>AddAttendeeServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.AddAttendeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddFacilitatorServlet</display-name>
  	<servlet-name>AddFacilitatorServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.AddFacilitatorServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveAppointmentServlet</display-name>
  	<servlet-name>RemoveAppointmentServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.RemoveAppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DesignateUserServlet</display-name>
  	<servlet-name>DesignateUserServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.DesignateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveResourceServlet</display-name>
  	<servlet-name>RemoveResourceServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.RemoveResourceServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveAttendeeServlet</display-name>
  	<servlet-name>RemoveAttendeeServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.RemoveAttendeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveFacilitatorServlet</display-name>
  	<servlet-name>RemoveFacilitatorServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.RemoveFacilitatorServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetAllSessionsServlet</display-name>
  	<servlet-name>GetAllSessionsServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.GetAllSessionsServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetMessagesServlet</display-name>
  	<servlet-name>GetMessagesServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.GetMessagesServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>getResourcesServlet</display-name>
  	<servlet-name>getResourcesServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.getResourcesServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetSessionServlet</display-name>
  	<servlet-name>GetSessionServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.GetSessionServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetUserServlet</display-name>
  	<servlet-name>GetUserServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.GetUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetUsersServlet</display-name>
  	<servlet-name>GetUsersServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.GetUsersServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SaveApointmentsServlet</display-name>
  	<servlet-name>SaveApointmentsServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.SaveApointmentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetMySessionsServlet</display-name>
  	<servlet-name>GetMySessionsServlet</servlet-name>
  	<servlet-class>
  	com.cgi.open.easyshare.servlets.GetMySessionsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateSessionServlet</servlet-name>
  	<url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAppointmentServlet</servlet-name>
  	<url-pattern>/AddAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMessageServlet</servlet-name>
  	<url-pattern>/AddMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddResourceServlet</servlet-name>
  	<url-pattern>/AddResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignAdminServlet</servlet-name>
  	<url-pattern>/AssignAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAttendeeServlet</servlet-name>
  	<url-pattern>/AddAttendeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFacilitatorServlet</servlet-name>
  	<url-pattern>/AddFacilitatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveAppointmentServlet</servlet-name>
  	<url-pattern>/RemoveAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DesignateUserServlet</servlet-name>
  	<url-pattern>/DesignateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveResourceServlet</servlet-name>
  	<url-pattern>/RemoveResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveAttendeeServlet</servlet-name>
  	<url-pattern>/RemoveAttendeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveFacilitatorServlet</servlet-name>
  	<url-pattern>/RemoveFacilitatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAllSessionsServlet</servlet-name>
  	<url-pattern>/GetAllSessionsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMessagesServlet</servlet-name>
  	<url-pattern>/GetMessagesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getResourcesServlet</servlet-name>
  	<url-pattern>/getResourcesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSessionServlet</servlet-name>
  	<url-pattern>/GetSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetUserServlet</servlet-name>
  	<url-pattern>/GetUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetUsersServlet</servlet-name>
  	<url-pattern>/GetUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveApointmentsServlet</servlet-name>
  	<url-pattern>/SaveApointmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMySessionsServlet</servlet-name>
  	<url-pattern>/GetMySessionsServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>